server {
    listen              ${NGINX_PORT};
    server_name         localhost;

    location ~* /api/.*$ {
        proxy_pass      http://${FASTAPI_ENDPOINT}:${FASTAPI_PORT};
    }

    location ~ / {
        proxy_pass      http://${VUE_ENDPOINT}:${VUE_PORT};
    }
}
